<h1 class="mt-3">Shoppin Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>{{ item.product.title }}</td>
        <td>
          <product-quantity
            [product]="item.product"
            [shopping-cart]="cart"
          ></product-quantity>
        </td>
        <td>{{ item.totalPrice | currency: "INR" }}</td>
      </tr>
    </tbody>
    <tfoot>
      <th></th>
      <th></th>
      <th>{{ cart.totalPrice | currency: "INR" }}</th>
    </tfoot>
  </table>
</ng-container>
