<div class="row">
    <div class="col-md-6">
        <form #f="ngForm" (ngSubmit)="save(f.value)">
            <div class="form-group">
                <label for="title">Title</label>
                <input #title="ngModel" name="title" ngModel id="title" type="text" class="form-control" required>
                <div *ngIf="title.invalid && title.touched" class="alert alert-danger" role="alert">
                    Title is required
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">&#x20b9;</span>
                    <input #price="ngModel" name="price" ngModel id="price" type="number" min="1" class="form-control"
                        required>
                </div>
                <div *ngIf="price.invalid && price.touched" class="alert alert-danger" role="alert">
                    Price is required
                </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select #category="ngModel" name="category" ngModel id="category" class="form-control" required>
                    <option value=""></option>
                    <option *ngFor="let category of categoreies$ | async" [value]="category.key">{{category.name}}
                    </option>
                </select>
                <div *ngIf="category.invalid && category.touched" class="alert alert-danger" role="alert">
                    Category is required
                </div>
            </div>
            <div class="form-group">
                <label for="imageUrl">Image URL</label>
                <input #imageUrl="ngModel" name="imageUrl" ngModel id="imageUrl" type="url" class="form-control"
                    required>
                <div *ngIf="imageUrl.invalid && imageUrl.touched" class="alert alert-danger" role="alert">
                    image Url is required
                </div>
            </div>
            <button [disabled]="f.invalid" class="btn btn-primary">Save</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img [src]="imageUrl.value" class="card-img-top" [alt]="title.value">
            <div class="card-body">
                <h5 class="card-title">{{title.value}}</h5>
                <p class="card-text">{{price.value | currency:'INR'}}</p>
            </div>
        </div>
    </div>
</div>