<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">OSHOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item dropdown" [ngClass]="{'show': isShownList}">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" (click)="onOpenMenu()" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Username
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="{'show': isShownList}">
            <a class="dropdown-item" routerLink="/my/order">My Orders</a>
            <a class="dropdown-item" routerLink="/product">Products</a>
            <a class="dropdown-item" routerLink="/admin/admin-order">All Orders</a>
            <a class="dropdown-item" routerLink="/admin/admin-product">All Products</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
